body {
  background-color: black;
}
*, ::after, ::before {
  box-sizing: border-box;
}
header{
    .container{
        padding: 20px 25px;
        justify-content: space-between;
        align-items: center;
    }
}
.container__logo{
    height: fit-content;
    width: 50px;
    height: fit-content;
    img{
        filter: invert(1);
        width: 100%;
        display: block;
        height: auto;
    }
}
.container__language{
    display: flex;
    position: relative;
    &__flag-arrow{
        display: flex;
        column-gap: 10px;
        &--img{
            width: 24px;
            height: 24px;
            display: block;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        &--name{
            color: $cp1;
            display: none;
        }
        &--arrow{
            display: block;
            width: 24px;
            height: 24px;
            mask: url('../../../public/img/icons/arrow-right.svg') center/32px no-repeat;
            background-color: $cp1;
        }
    }
    &--buttons{
        position: absolute;
        left: 0;
        top: 120%;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s ease;
        width: 100%;
        right: 0;
        left: auto;
        &--select{
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          width: 100%;
          align-items: start;
          border: 1px solid $cp1;
          // background-color: $cp3;
          border-radius: 10px;
          padding: 10px 0 10px 14px;
        }
        button{
          background-color: transparent;
          border: none;
          padding: 0;
          color: $cp1;
        }
        &.active{
          max-height: 300%;
        }
        
    }
}

.menu-navigation{
  position: relative;
  &::before{
    content: '';
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: -26px;
    top: 17px;
    transition: all 0.5s ease;
  }
  .container-menu{
    &__span {
      width: 23px;
      height: 16px;
      position: relative;
      span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: $cp1;
        transition: all 0.5s ease;
      }
      &--one {
        position: absolute;
        top: 0;
      }
      &--two {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }
      &--three {
        position: absolute;
        bottom: 0;
      }
    }
  }
  ul{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 20px 0 0 0 ;
    a{
      color: black;
      text-decoration: none;
      font-size: 22PX;
    }
  }
  &.open{
    &::before{
      content: '';
      width: 100vw;
      height: 100vh;
      position: absolute;
      left: -26px;
      top: 17px;
      background: rgba(235, 239, 243, .6);
      backdrop-filter: blur(2px);
    }
    .container-menu{
      &__span{
        &--one{
          transform: translateY(7px) rotate(45deg)
        }
        &--two{
          transform: translate(0, -50%) scaley(0);
        }
        &--three{
          transform: translateY(-7px)rotate(-45deg);
        }
      }
    }
    ul{
      display: block;
    }
  }
}
h1{
  color: $cp1;
}