@import "./global/global.scss";


//Base
@import "./base/tipography.scss";
@import "./base/mixins.scss";
@import "./base/variables.scss";
@import "./base/keyframe.scss";

// --------- * Header * ----------
@import "./layout/header.scss";
// --------- * Footer * ----------
@import "./layout/footer.scss";

// --------- * Page * ----------
@import "./page/home.scss";
@import "./page/experience.scss";
@import "./page/cards.scss";
@import "./page/descriptionCards.scss";

.loading{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 120px;
}