// ========== * Author: Mateo Hernandez * ==========
// ========== * Company: Web Digital Ark * ==========

@use "sass:map";
// ============= * Media Query * ===============
$mediaQuerys: (
  "xxs": 320px,
  "xss": 370px,
  "xssx": 418px,
  "xs": 480px,
  "sm": 768px,
  "md": 992px,
  "mdx": 1024px,
  "lg": 1200px,
  "lg-xm": 1280px,
  "lg-m": 1300px,
  "xlg": 1500px,
  "xslg": 1940px,
  "xxlg": 2000px,
);

// ========= * Function Media Query * =============
@mixin mq($mquery) {
  @media (min-width: map.get($mediaQuerys,$mquery)) {
    @content;
  }
}

@mixin fontFamilyStlye1($weight, $color){
    font-family: $fp1;
    font-weight: $weight;
    color: $color;
    font-size: 22px;
    line-height: 24px;
    @include mq (md){
        font-size: 32px;
        line-height: 34px;
    }
}
@mixin fontFamilyStlye2($weight, $color){
    font-family: $fp1;
    font-weight: $weight;
    color: $color;
    font-size: 20px;
    line-height: 22px;
    @include mq (md){
        font-size: 26px;
        line-height: 28px;
    }
}
@mixin fontFamilyStlye3($weight, $color){
    font-family: $fp1;
    font-weight: $weight;
    color: $color;
    font-size: 14px;
    line-height: 16px;
    @include mq (md){
        font-size: 22px;
        line-height:25px;
    }
}
@mixin fontFamilyStlye4($weight, $color){
    font-family: $fp1;
    font-weight: $weight;
    color: $color;
    font-size: 12px;
    line-height: 14px;
    @include mq (md){
        font-size: 14px;
        line-height: 16px;
    }
}
@mixin fontFamilyStlye5($weight, $color){
    font-family: $fp1;
    font-weight: $weight;
    color: $color;
    font-size: 16px;
    line-height: 22px;
    @include mq (md){
        font-size: 18px;
        line-height: 26px;
    }
}

@mixin fontFamilyStlye6($weight, $color){
    font-family: $fp1;
    font-weight: $weight;
    color: $color;
    font-size: 28px;
    line-height: 36px;
    @include mq (md){
        font-size: 42px;
        line-height: 50px;
    }
}

@mixin fontFamilyStyle7($weight, $color){
    font-family: $fp1;
    font-weight: $weight;
    color: $color;
    font-size: 60px;
    line-height: 66px;
    @include mq (md){
        font-size: 85px;
        line-height: 92px;
    }
}
@mixin fontFamilyStlye8($weight, $color){
    font-family: $fp1;
    font-weight: $weight;
    color: $color;
    font-size: 20px;
    line-height: 22px;
    @include mq (md){
        font-size: 40px;
        line-height: 45px;
    }
}

@mixin fontBanner($color){
    font-size: 40vw;
    font-family: $fp2;
    color: $color;
    line-height: normal;
}