@font-face {
    font-family: 'SF-Pro';
    src: url('../Sf-Pro/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
    font-weight: 900;
}
@font-face {
    font-family: 'SF-Pro';
    src: url('../Sf-Pro/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'SF-Pro';
    src: url('../Sf-Pro/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: 700;
}
@font-face {
    font-family: 'SF-Pro';
    src: url('../Sf-Pro/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'SF-Pro';
    src: url('../Sf-Pro/SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'SF-Pro';
    src: url('../Sf-Pro/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: 400;
}