@font-face {
    font-family: 'SF-Pro';
    src: url('../Sf-Pro-2/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: 600;
}
@font-face {
    font-family: 'SF-Pro';
    src: url('../Sf-Pro-2/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SF-Pro';
    src: url('../Sf-Pro-2/SF-Pro-Display-BoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'SF-Pro';
    src: url('../Sf-Pro-2/SF-Pro-Text-Light.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'SF-Pro';
    src: url('../Sf-Pro-2/SF-Pro-Text-Medium.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'SF-Pro';
    src: url('../Sf-Pro-2/SF-Pro-Text-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family:'SF-Pro' ;
    src: url('../Sf-Pro-2/SF-Pro-Display-Black.otf') format('opentype');
    font-weight: 900;
}

// ------- Impact ----------
@font-face {
    font-family: 'Impact';
    src: url('../impact/impact.ttf') format('truetype');
    font-weight: 400;
}